/* Gothic Theme */
@import "bats.css";
@import "tabs.css";

header {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #5b0202;
    margin-left: 13%;
    padding: 20px 20px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    font-size: 14pt;
    border: 2px solid #5b0202;
    margin-left: 13%;
    padding: 20px 20px;
}

body {
    background-color: #000000;
    text-align: left;
    font-family: "Courier New";
    font-size: 22pt;
    /* letter-spacing: 2px; */
    /* word-spacing: 2px; */
    font-weight: 400;
    text-decoration: none;
    /* font-style: italic; */
    /* font-variant: small-caps; */
    text-transform: none;
    margin-left: 0%;
    padding: 20px 20px;
}

main {
    text-align: left;
    background-color: #232323;
    color: #ffffff;
    margin-left: 13%;
    padding: 20px 20px;
}

.centered-text {
    text-align: center;
}

.red-text {
    color: #bb0000;
}


.gradient-background1 {
    background: #5b5b5b;
    background: -moz-linear-gradient(top, #5b0202 0%, #2c2c2c 18%, #1d1c1c 100%);
    background: -webkit-linear-gradient(top, #5b0202 0%, #2c2c2c 18%, #1d1c1c 100%);
    background: linear-gradient(to bottom, #5b0202 0%, #2c2c2c 18%, #1d1c1c 100%);
}

.gradient-background2 {
    background: #5b5b5b;
    background: -moz-linear-gradient(top, #1d1c1c 0%, #3f3e3e 90%, #838282 100%);
    background: -webkit-linear-gradient(top, #1d1c1c 0%, #3f3e3e 90%, #838282 100%);
    background: linear-gradient(to bottom, #1d1c1c 0%, #3f3e3e 90%, #838282 100%);
}

.gradient-background3 {
    background: #5b5b5b;
    background: -moz-linear-gradient(top, #838282 0%, #6b6a6a 82%, #5b0202 100%);
    background: -webkit-linear-gradient(top, #838282 0%, #6b6a6a 82%, #5b0202 100%);
    background: linear-gradient(to bottom, #838282 0%, #6b6a6a 82%, #5b0202 100%);
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

a.ex1 {
    color: #bb0000;
    text-decoration: underline;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12%;
    background-color: #000000;
    color: #9e0000;
    border: 2px solid #5b0202;
    height: 100%;
    /* Full height */
    position: fixed;
    /* Make it stick, even on scroll */
    overflow: auto;
    /* Enable scrolling if the sidenav has too much content */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
.navbar a.ex2 {
    text-align: center;
    display: block;
    font-style: bold;
    font-size: 16pt;
    padding: 8px 16px;
    text-decoration: none;
    color: #9e0000;
}

.navbar a.ex2:hover,
a.ex2:active {
    background-color: #fe0000;
    color: #000000;
}

/* .navbar a.ex2:hover .bat {
    opacity: 1;
} */

/* Change the link and background color on hover */
/* li a.ex2:hover {
  background-color: #555555;
  color: white;
} */



/* ul.ex1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 190px;
  background-color: #9b5616;
  border-right: 2px solid #622c06;
  height: 100%;
  Full height 
  position: fixed;
  Make it stick, even on scroll 
  overflow: auto; 
  Enable scrolling if the sidenav has too much content 
}*/

section {
    float: left;
    padding: 5px;
    width: 65%;
}

h1,
h2,
h3 {
    color: #ffffff;
}

.gallery img {
    width: 30%;
    margin: 10px;
    border: 2px solid #000000;
    box-shadow: 0 0 10px #00000088;
}

form {
    background-color: #3b2a2a;
    padding: 20px;
    border-radius: 8px;
    color: #f4e9d8;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #a1866f;
    background-color: #2c1e1e;
    color: #f4e9d8;
}

input[type="submit"] {
    background-color: #b03060;
    color: #fff;
    border: none;
    cursor: pointer;
}